<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>Profile</header>
  <form action="/profile" method="get"><br>
<input type="text" name="name" id="" value="" placeholder="Name"><br>
<input type="text" name="username" id="" value=" " placeholder="User Name"><br>
<input type="email" name="email" id="email" value=" " placeholder="Email"><br>
<input type="password" name="password" id="password" value="" placeholder="password"><br>
<input type="text" name="service" id="service" value="" placeholder="Service Name"><br>
<input type="text" name="experience" id="experience" value="" placeholder=" Experience"><br>
<input type="text" name="description" id="description" value="" placeholder="Description"><br>

<button type="submit">Save</button>








  </form>
</body>
</html>