<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form  id="singInForm" action="/signin" method="POST">
    <input type="text" name="username" id="username1" placeholder="User Name" value="">
    <input type="password" name="password" id="password1"  placeholder="Password"  value="">
    <button id="signinButton" type="submit">SignIn</button>
  
  
    
    </form>
  
    <button><a href="/google">Login With Google</a></button>
    <button><a href="/oauth" id="oauth">Login With facebook</a></button>
  
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="js/app.js"></script>
</body>
</html>